*{
    margin: 0em;
    padding: 0em;
    
    box-sizing: border-box;
    
    

}
body{
  background-image: url('background.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
 
  
}


.container{
    text-align: center;
   }


.wow{
   
   
  height: 4em;
  width: 6em;
  box-shadow: inset -6px -6px 13px rgb(255, 255, 255),
              6px 6px 9px rgba(0, 0, 0, 0.558);
  background-color: #ecf0f3;
  border: none;
  border-radius: 32px;
  color:rgba(40, 38, 38, 0.784);
  text-align: center;
  margin: 1em 1em 1em 1em ;
  padding: 1em 2.3em 3em 0em;
  
  font-size: 40px;
 
}


#vol{

  margin-top: 0em;
  margin-left: 1em;
}


.wow2 {
  position: fixed;
  border: none;
  background-color: rgba(0, 0, 0, 0.304);  
  width: 100%;
  border-radius: 0%;
  bottom: 0;
  left: 0;
  right: 0;
}


.btn1 {
  font-size: 31px;
  
    position: fixed;
    border: none;
    background-color: rgba(0, 0, 0, 0);  
   
   
    border-radius: 100%;
    
     bottom: 0; 
   
  }


 .write{
  font-size: 40px;
  background: linear-gradient(black);
  backdrop-filter: blur(8px);
  position: fixed;
  border: none;
  background-color: rgba(0, 0, 0, 0.304); 
  color:rgba(0, 0, 0, 0) ; 
  background-color:rgba(0, 0, 0, 0.304);
 width: 70%;
 margin-left: 20%;

 padding-right: 60%;
 
 
  border-radius: 3em;
  
   bottom: 0; 
 } 








button.wow:hover, button.wow:active {
  font-size: 50px;
  background: linear-gradient(90deg,#62e7c4,#9C9EFE,#3BACB6);
    background-size: 400% 400%;
    animation: anim 4s infinite ease-in-out;

}
@keyframes anim {
  0%{
    background-position : 0 50%;
  }
  50%{
    background-position : 100% 50%;
  }
  100%{
    background-position : 0 50%;
  }
}




.first{
    
    text-align: center;
    
    background-color: black;
    color: rgb(255, 255, 255);
    margin-left: 0em;
    margin-right: 0em;
    font-size: 2em;
    font-weight:lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media screen and (min-width:600px){
  .wrapper-grid{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2,1fr);
    
  }
}


.container5{
   
  width: 100%;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
form{
  box-shadow: inset -6px -6px 13px #e5e5e7f4,
              6px 6px 9px rgba(0, 0, 0, 0.558);
 
  background-color: #c6c6cceb;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;


}


form h3{
  
  color: rgba(0, 0, 0, 0.777);
  font-weight: 800;
  margin-bottom: 20px;
}

form input,form textarea{
  border: 0;
  border-radius: 12px;
  margin: 10px 0;
  padding: 20px;
  outline: none;

  background: #ffffff;
  font-size: 16px;
}
form button{
  padding: 15px;
  box-shadow: inset -6px -6px 13px #7e7b7bb0,
  6px 6px 9px rgba(0, 0, 0, 0.364);
  background: #7e7b7bb2;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;

}
.carousel {
  margin-top: 2em;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2em;

  background-color: #166aaa;
  width: 100%;
  height: 50vh;
  
}
.chd{
  background-color: #f7f5ebb9;
  border-radius: 2ex;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
 
  
}

.twt{
  background-color: #eae0da07;
  border-radius: 2em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 23px;
  padding-left: 20px;
  font-size: 20px;
  
}

.side{
  padding-left: 2em;
  color: rgb(255, 255, 255);
}



.navbar1{
  width: 100%;
  background: #201f1fcc;
}




.siz{
  font-size: 20px;
 
}


.btn3{
  font-size: 31px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  transition: all 0.1s ease; 
  border-radius: 100%;
  
   bottom: 0; 
}

.btn3:active{
  transform: scale(1.1);
}
.btn2{
  font-size: 31px;
  background-color: rgba(255, 255, 255, 0);
   border: none;
   
  border-radius: 100%;
  transition: all 0.1s ease; 
   bottom: 0; 
}

.btn2:active{
  transform: scale(1.1);
}



.built{
  font-size: 15px;

  right: 12px;
  margin-top: 20cm;
   position: fixed;
    padding-bottom: 5px;
    border: none;
   padding-right: 11%;
    border-radius: 100%;
    
     bottom: 0; 
}
.grid-container1 {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 50px 50px 50px;
 gap: 4px;
  padding: 10px;
  bottom: 0;
  position: fixed;
  border-radius: 0;
  left: 40%;
  right: 70%;
}


.scrollTop{
  font-size: 2.5em;
  position: fixed;
  bottom: 800px;
  right: 10px;
  width: 40px;
  height: 90px;
  border-radius: 50%;
 
  cursor: pointer;
  z-index:100000;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;

}
.scrollTop.active{
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}















